div{
	/* background-color:#ccc;
	background-image:url(../images/heihei.gif);
	background-repeat:no-repeat;
	background-position:right top; */
	/* background-position:-50px -20px; */
	/* height:1000px;
	background-attachment:fixed; */

	background:red url(../images/qq.jpg) repeat-x 50px 100px;
}

.cart{
	width:30px;
	height:30px;
	background-image:url(../images/icon.gif);
	background-position: -160px -20px;
}