@charset "utf-8";

body{
	margin:0;
	padding:0;
}

#container{
	width: 980px;
	border:1px solid #ccc;
	margin:0 auto;
}

#container .header{
	width:100%;
	height:80px;
	background:red;
}

#container .main{
	width:100%;
	height:600px;
	background:blue;
	/* margin-top:10px; */
	margin:10px 0;
}

#container .footer{
	width:100%;
	height:120px;
	background:green;
	/* margin-top:10px; */
}