body {
	background: #efe5d0 url(images/background.gif) top left;
	margin: 20px;
}

form {
	display: table;
	padding: 10px;
	border: thin dotted #7e7e7e;
	background-color: #e1ceb8;
}

div.tableRow {
	display: table-row;
}

div.tableRow > p, div.tableRow > label, div.tableRow > input {
	display: table-cell;
	vertical-align: top;
	padding: 3px;
}
div.tableRow label:first-child {
	text-align: right;
}
form textarea {
	display: table-cell;
	width: 500px;
	height: 200px;
}
legend {
	font-weight: bold;
}
