body { 
  background: url('../images/bgBody.png'); 
  font-family: Trebuchet MS, Verdana, Helvetica, Arial, san-serif; 
  margin: 0; 
  text-align: center; 
}#wrapper { 
  background: url('../images/bgContent.jpg') 0 -2px; 
  color: #ddd; 
  height: 500px; 
  margin: 0 auto; 
  padding: 150px 180px 0 180px; 
  position: relative; 
  text-align: left; 
  width: 440px; 
}ul { padding: 0; }li { font-size: 12px; list-style: none; margin: 0 0 4px 0; }label { 
  float: left; 
  margin: 4px 6px 0 0; 
  text-align: right; 
  width: 160px; 
}
input { border: 2px solid #1E3755; padding: 0 2px; width: 216px; }select { border: 2px solid #1E3755; width: 224px; }textarea { border: 2px solid #1E3755; padding: 0 2px; width: 216px; }
#register { width: 100px; } 
